/* Built @ screen size 2560px (4k) */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --sedan: hsl(31, 77%, 52%);
  --suv: hsl(184, 100%, 22%);
  --luxury: hsl(179, 100%, 13%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --bg-headings-buttons: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Layout */
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 25em;
  font-size: 16px;
  background-color: var(--bg-headings-buttons);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(49.5%, 50%, 60%);
  height: clamp(40vh, 30vh, 50vh);
}

.card {
  height: clamp(45vh, 55vh, 56vh);
  padding-left: 3rem;
  padding-right: 1.5rem;
}

/* Base Style */
h2 {
  font-size: 3rem;
  margin-bottom: 2.3rem;
  font-family: 'Big Shoulders Display', sans-serif;
  color: var(--bg-headings-buttons);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: clamp(1rem, 1.2rem, 1.3rem); 
  color: var(--paragraph);
  line-height: 1.6;
  margin-bottom: clamp(9rem, 10rem, 11rem );
}

a {
  font-family: 'Lexend Deca', sans-serif;
  font-size: clamp(1rem, 1rem, 11rem);
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 27px;
}

/* Image sizing */
.pic__size {
  width: clamp(4rem, 5.5rem, 6rem);
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Card Background Color */
.sedan {
  border-radius: 20px 0 0 20px;
  background: var(--sedan);
}

.suvs {
  background: var(--suv);
}

.luxury {
  border-radius: 0 20px 20px 0;
  background: var(--luxury);
}

/* Button */
.sedan > a {
  align-self: flex-end;
  background-color: var(--bg-headings-buttons);
  color: var(--sedan);
}

.suvs > a {
  background-color: var(--bg-headings-buttons);
  color: var(--suv);
}

.luxury > a {
  background-color: var(--bg-headings-buttons);
  color: var(--luxury);
}

/* Button Hover State */
.sedan > a:hover {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
}

.suvs > a:hover {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
}

.luxury > a:hover {
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
}

/* BREAKS */

@media(max-width: 1440px) {
  body {
    padding-top: 15rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(55%, 60%, 61%);
    height: 60vh;
  }
  
  .card {
    height: 50vh;
    padding-left: 3rem;
    padding-right: 1.5rem;
  }

  /* Base Style */

h2 {
  font-size: 3rem;
  margin-bottom: 2.3rem;
  font-family: 'Big Shoulders Display', sans-serif;
  color: var(--bg-headings-buttons);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: clamp(.9rem, 1rem, 1.1rem); 
  color: var(--paragraph);
  line-height: 1.6;
  margin-bottom: clamp(7rem, 8rem, 9rem );
}

a {
  font-family: 'Lexend Deca', sans-serif;
  font-size: clamp(.7rem, 1vw, 1.5rem);
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 27px;
}
}

/*  Laptop 1024px */
@media(max-width: 1024px) {
  body {
    padding-top: 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
  }
    
  .card {
    height: 70vh;
    text-align: center;
  } 
  
/* Image sizing */
.pic__size {
  width: clamp(4rem, 5.5rem, 6rem);
  margin-top: 3rem;
  margin-bottom: 2rem;
}

  /* Base Styles */
  h2 {
    font-size: 2.3rem;
  }
    
  p {
    font-size: clamp(1rem, 1.1rem, 1.4rem);
    padding: 0 6rem;
    margin-bottom: 3rem;
  }
    
  a {
    width: 100%;
    font-size: clamp(.9rem, 1rem, 1.3rem);
    text-align: center;
    text-decoration: none;
    padding: .9rem 30%;
    margin-bottom: 3rem;
    border-radius: 27px;
  }

  .sedan {
    border-radius: 20px 20px 0 0;
    background: var(--sedan);
  }
  
  .luxury {
    border-radius: 0 0 20px 20px;
    background: var(--luxury);
  }

}

/* Tablet 768px */
@media(max-width: 768px) {
  body {
    padding-top: 1.6rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
  }
    
  .card {
    height: 70vh;
    text-align: center;
  } 
  
/* Image sizing */
.pic__size {
  width: clamp(4rem, 5rem, 5.5rem);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

  /* Base Styles */
  h2 {
    font-size: 2rem;
  }
    
  p {
    font-size: clamp(1rem, 1.1rem, 1.4rem);
    padding: 0 6rem;
    margin-bottom: 3rem;
  }
    
  a {
    font-size: clamp(.9rem, 1rem, 1.3rem);
    text-align: center;
    text-decoration: none;
    padding: .9rem 30%;
    margin-bottom: 3rem;
    border-radius: 27px;
  }

  .sedan {
    border-radius: 20px 20px 0 0;
    background: var(--sedan);
  }
  
  .luxury {
    border-radius: 0 0 20px 20px;
    background: var(--luxury);
  }
    
  }

/* Large Mobile 425px */
@media(max-width: 425px) {
  body {
    padding-top: 3rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
  }
    
  .card {
    height: 70vh;
    text-align: center;
  } 
  
/* Image sizing */
.pic__size {
  width: clamp(3.5rem, 4rem, 4.5rem);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

  /* Base Styles */
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
    
  p {
    font-size: clamp(.8rem, 1rem, 1.1rem);
    padding: 0 3rem;
    margin-bottom: 2rem;
  }
    
  a {
    font-size: clamp(.9rem, 1rem, 1.3rem);
    text-align: center;
    text-decoration: none;
    padding: .9rem 30%;
    margin-bottom: 3rem;
    border-radius: 27px;
  }

  .sedan {
    border-radius: 20px 20px 0 0;
    background: var(--sedan);
  }
  
  .luxury {
    border-radius: 0 0 20px 20px;
    background: var(--luxury);
  }
    
  }
/* Medium Mobile 375px */
@media(max-width: 375px) {
  body {
    padding-top: 2.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
  }
    
  .card {
    height: 70vh;
    text-align: center;
  } 
  
/* Image sizing */
.pic__size {
  width: clamp(3.5rem, 4rem, 4.5rem);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

  /* Base Styles */
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
    
  p {
    font-size: clamp(.8rem, 1rem, 1.1rem);
    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }
    
  a {
    font-size: clamp(.9rem, 1rem, 1.3rem);
    text-align: center;
    text-decoration: none;
    padding: .9rem 30%;
    margin-bottom: 3rem;
    border-radius: 27px;
  }

  .sedan {
    border-radius: 20px 20px 0 0;
    background: var(--sedan);
  }
  
  .luxury {
    border-radius: 0 0 20px 20px;
    background: var(--luxury);
  }
    
  }

/* Medium Mobile 320px */
@media(max-width: 320px) {
  body {
    /* padding-top: 2.5rem; */
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
  }
    
  .card {
    text-align: center;
  } 
  
/* Image sizing */
.pic__size {
  width: clamp(3.5rem, 4rem, 4.5rem);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

  /* Base Styles */
  h2 {
    font-size: 1.5rem;
  }
    
  p {
  font-size: clamp(.9rem, 1rem, 1.1rem);
    padding: 0 1.6rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
    
  a {
    
    font-size: clamp(.6rem, .8rem, 1rem);  
    text-align: center;
    text-decoration: none;
    padding: .9rem 25%;
    margin-bottom: 3rem;
    border-radius: 27px;
  }

  .sedan {
    border-radius: 20px 20px 0 0;
    background: var(--sedan);
  }
  
  .luxury {
    border-radius: 0 0 20px 20px;
    background: var(--luxury);
  }
    
  }
